<app-nav-bar></app-nav-bar>

<div class="container mx-auto px-4">
  <h1 class="text-2xl font-bold mb-4">All Users</h1>
  <div *ngFor="let user of getUsersForCurrentPage()" class="flex items-center justify-between border-b py-4">
    <div class="flex-1">
      <div class="flex items-center">
        <p class="font-bold mr-2">Name:</p>
        <p>{{ user.name }}</p>
      </div>
      <div class="flex items-center mt-2">
        <p class="font-bold mr-2">User Role:</p>
        <p>{{ user.userrole }}</p>
      </div>
    </div>
    <!-- Conditional button based on showEditRoleButton -->
    <button mat-button color="primary" (click)="showEditRoleButton ? editUserRole(user) : editUser(user)">
      {{ showEditRoleButton ? 'Edit User Role' : 'Edit Data' }}
    </button>
  </div>  

  <!-- Paginator -->
  <mat-paginator [length]="users.length" [pageSize]="itemsPerPage" (page)="onPageChange($event)"></mat-paginator>
</div>
